.absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.opacityIn {
    transition: opacity 0.3s ease-in;
    opacity: 1;
}

.opacityOut {
    transition: opacity 0.3s ease-out;
    opacity: 0;
}