:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(from 180deg at 50% 50%,
      #16abff33 0deg,
      #0885ff33 55deg,
      #54d6ff33 120deg,
      #0071ff33 160deg,
      transparent 360deg);
  --secondary-glow: radial-gradient(rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0));

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(#00000080,
      #00000040,
      #00000030,
      #00000020,
      #00000010,
      #00000010,
      #00000080);

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 80, 80, 80;
    --background-end-rgb: 80, 80, 80;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(to bottom right,
        rgba(1, 65, 255, 0),
        rgba(1, 65, 255, 0),
        rgba(1, 65, 255, 0.3));

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(#ffffff80,
        #ffffff40,
        #ffffff30,
        #ffffff20,
        #ffffff10,
        #ffffff10,
        #ffffff80);

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

#__next {
  min-height: 100%;
}

html,
body {
  padding: 0;
  margin: 0;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* *:focus-visible {
  outline-color: #3b82f6;
} */

.ellipis-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: pre-wrap;
}

.ellipis-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: pre-wrap;
}

.ellipis-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: pre-wrap;
}

.ellipis-4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  white-space: pre-wrap;
}

.uploader__image-cropper__clip img {
  max-width: fit-content;
}

.label-form {
  display: block;
  margin-bottom: 0.25rem;
}

.input-form input {
  padding-top: 0.5rem;
  padding-right: 0.75rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
}

.input-form span:first-child {
  min-width: fit-content;
}

/* ======================== Begin Ant Design ======================== */

/* ======================== Begin Input ======================== */
.ant-input:hover {
  border-color: inherit;
}

.ant-input:focus,
.ant-input-focused {
  background-color: #fff;
  border-color: #2563eb;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

/* ======================== End Input ======================== */

/* ======================== Begin Input Password ======================== */
.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  border-color: inherit;
}

.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):focus-within {
  border-color: #2563eb;
}

.ant-input-password:focus,
.ant-input-password:focus-within,
.ant-input-password-focused {
  background-color: #fff;
  border-color: #2563eb;
  box-shadow: 0 0 0 0px #fff, 0 0 0 1px #2563eb, 0 0 #0000
}

/* ======================== End Input Password ======================== */

/* ======================== Begin Input picker ======================== */
.ant-picker:hover {
  border-color: inherit;
}

.ant-picker:focus,
.ant-picker-focused {
  background-color: #fff;
  border-color: #2563eb !important;
  box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px, rgb(37, 99, 235) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}

/* ======================== End Input picker ======================== */

/* ======================== Begin Label ======================== */
.ant-form-item-label {
  font-weight: 500;
}

/* ======================== End label ======================== */

/* ======================== Begin Button ======================== */
.ant-btn {
  font-weight: 600;
}

/* ======================== End button ======================== */

/* ======================== Begin Range Date picker======================== */
@media(max-width: 768px) {
  .popup-range-date-picker .ant-picker-panels .ant-picker-panel:nth-child(2) {
    display: none !important;
  }

  .popup-range-date-picker .ant-picker-panels .ant-picker-panel:first-child .ant-picker-header-next-btn {
    visibility: visible !important;
  }

  .popup-range-date-picker .ant-picker-panels .ant-picker-panel:first-child .ant-picker-header-super-next-btn {
    visibility: visible !important;
  }

}

/* ======================== End Range Date picker ======================== */

/* ======================== Begin Collapse======================== */
.collapse .ant-collapse-item-active .ant-collapse-header-text {
  color: #2563eb !important;
}

.collapse div.ant-collapse-header {
  padding: 0px !important;
  font-weight: 500;
}


/* ======================== End Collapse ======================== */

/* ======================== Begin Skeleton ======================== */

.skeleton {
  background: -webkit-gradient(linear,
      left top,
      right top,
      color-stop(25%, #f2f2f2),
      color-stop(37%, #e6e6e6),
      color-stop(63%, #f2f2f2));
  background: linear-gradient(90deg, #f2f2f2 25%, #e6e6e6 37%, #f2f2f2 63%);
  background-size: 400% 100%;
  -webkit-animation: ant-skeleton-loading 1.4s ease infinite;
  animation: ant-skeleton-loading 1.4s ease infinite;
}

@-webkit-keyframes ant-skeleton-loading {
  0% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

@keyframes ant-skeleton-loading {
  0% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

/* ======================== End Skeleton ======================== */

/* ======================== Begin Rate ======================== */

.rate-custom li {
  margin-inline-end: 3px !important;
}


/* ======================== End Rate ======================== */


/* ======================== End Ant Design ======================== */